body{
    background-image: url(https://images4.alphacoders.com/279/279264.jpg);
    
}
form{
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    color: red;
    
}
input{
    background-color: black;
    color: white;
}
textarea{
    background-color: black;
    color: white;
}

img{
    position: absolute;
    width: 100px;
    height: 100px;
}
h1{
    text-align: center;
    color: darkcyan;
}
.img_center{
    right: 200px;
    left: 200px;
}